@model IEnumerable<NIMAP_INFOTECH.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

 Pagination pagination = new Pagination();
    int pageNo = 0;
    if(ViewBag.Pagination !=null)
    {
        pagination = ViewBag.Pagination;
        pageNo = pagination.CurrentPage;
    }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container">
    @if (pagination.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if (pagination.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-asp-controller="Product" asp-action="Index" asp-route-pg="@(pagination.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (var pge = pagination.StartPage; pge <= pagination.EndPage; pge++)
            {
                <li class="page-item@(pge == pagination.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@pge"> @pge</a>
                </li>
            }
            @if (pagination.CurrentPage < pagination.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-asp-controller="Product" asp-action="Index" asp-route-pg="@(pagination.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-asp-controller="Product" asp-action="Index" asp-route-pg="@(pagination.TotalPages)">Last</a>
                </li>
            }

        </ul>
    }

</div>