@model IEnumerable<TEST.Models.Product>

@{
    ViewData["Title"] = "List";
}
 Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager !=null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    @if (pagination.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if (pagination.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Product" asp-action="List" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-asp-controller="Product" asp-action="List" asp-route-pg="@(pagination.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (var pge = pagination.StartPage; pge <= pagination.EndPage; pge++)
            {
                <li class="page-item@(pge == pagination.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@pge"> @pge</a>
                </li>
            }
            @if (pagination.CurrentPage < pagination.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-asp-controller="Product" asp-action="IList" asp-route-pg="@(pagination.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-asp-controller="Product" asp-action="List" asp-route-pg="@(pagination.TotalPages)">Last</a>
                </li>
            }

        </ul>
    }

</div>